.shoppinglist-content {
  flex-grow: 1;
  padding-left: auto;
  padding-top: 3vh;
  cursor: default;
}
h1 {
  font-family: "Segoe UI";
  text-align: left;
  color: #043c5f;
  font-size: 3vh;
  margin: 0;
  top: 0;
}

/*  Einkaufszettel-Liste,  Verlauf-Liste  */
.lists {
  flex-shrink: 1;
  display: flex;
  gap: 6vh;
  top: 0;
}
.list-1 {
  display: flex;
  flex-direction: column;
  left: 0;
}
.list-2 {
  display: flex;
  flex-direction: column;
  right: 0;
}
.list-1 ul {
  height: 60vh;
  width: 53vh;
  flex-direction: column;
  display: flex;
  background-color: rgb(181, 222, 236);
  box-shadow: 5px 9px 18px -1px #758995;
  border: #77a5c2 solid 1px;
  border-radius: 25px;
  padding-left: 2.5vh;
  padding-top: 2vh;
  padding-right: 2vh;
}
.list-2 ul {
  height: 60vh;
  width: 53vh;
  flex-direction: column;
  display: flex;
  background-color: rgb(186, 186, 186);
  box-shadow: 5px 9px 18px -1px #758995;
  border: #919191 solid 1px;
  border-radius: 25px;
  padding-left: 2.5vh;
  padding-top: 2vh;
  padding-right: 2vh;
}
.list-headline {
  padding-bottom: 3vh;
}
.list-content {
  height: 50vh;
  bottom: 0;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.list-content::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.list-row {
  flex-direction: row;
  display: flex;
  gap: 0.6vh;
  height: 4.5vh;
}
.input-article {
  background-color: rgb(236, 244, 245);
  color: #043c5f;
  border-radius: 1.2vh;
  border-color: rgb(172, 184, 187);
  width: 35vh;
  height: auto;
  padding-top: 0.8vh;
  padding-bottom: 0.8vh;
  font-size: 1.6vh;
  margin-top: auto;
  margin-bottom: auto;
}
.input-quantity {
  background-color: rgb(236, 244, 245);
  color: #043c5f;
  border-radius: 1.2vh;
  border-color: rgb(172, 184, 187);
  width: 9vh;
  height: auto;
  padding-top: 0.8vh;
  padding-bottom: 0.8vh;
  font-size: 1.6vh;
  margin-top: auto;
  margin-bottom: auto;
}
.input-buttons {
  color: #043c5f;
  font-size: 2.4vh;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
}
.input-buttons:hover {
  background-color: #043c5f;
  color: white;
  border-radius: 0.3vh;
  display: flex;
}
.input-buttons-trash {
  color: #043c5f;
  font-size: 2vh;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
}
.input-buttons-trash:hover {
  background-color: #043c5f;
  color: white;
  border-radius: 0.3vh;
  display: flex;
  height: 2.6vh;
  padding-top: 0.3vh;
}

/*  Neuen Artikel hinzufügen  */
.new-article {
  padding-left: 2.5vh;
}
.new-input {
  padding-top: 0.5vh;
  padding-bottom: 3vh;
  flex-direction: row;
  display: flex;
  gap: 1vh;
  align-items: baseline;
}
.new-input-article {
  background-color: rgb(229, 229, 229);
  border: #8a9196 solid 0.3vh;
  border-radius: 1.2vh;
  color: #878e92;
  width: 35vh;
  height: 4vh;
  font-size: 1.6vh;
  cursor: text;
}
.new-input-quantity {
  background-color: rgb(229, 229, 229);
  border: #8a9196 solid 0.3vh;
  border-radius: 1.2vh;
  color: #878e92;
  width: 10vh;
  height: 4vh;
  font-size: 1.6vh;
  cursor: text;
}
.new-button {
  background-color: #043c5f;
  color: white;
  border-radius: 1.2vh;
  font-size: 1.8vh;
  margin-left: 2vh;
  padding-top: 0.8vh;
  padding-bottom: 0.8vh;
  padding-left: 1.4vh;
  padding-right: 1.4vh;
  height: auto;
  width: auto;
  cursor: pointer;
}
