.btn-newMeal {
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 400;
  border-radius: 10px;
  border: none;
  background-color: #043c5f;
  color: white;
  width: auto;
  height: 5vh;
  cursor: pointer;
}

.btn-newMeal:hover {
  background-color: rgba(3, 40, 63, 1);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  font-family: "Segoe UI";
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 18px;
  display: flex;
}

.mealHeader {
  display: fixed;
}

.modal-content h2 {
  margin-top: 0;
  color: #043c5f;
}

.newMealP {
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 500;
  line-height: 3.6;
  display: flex;
}

.inputField {
  position: relative;
  top: 5vh;
  right: 10vh;
}

.mealText {
  width: auto;
  height: 4vh;
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  background-color: #c5c5c5;
  border-radius: 9px;
  border: none;
  margin: 2vh;
}

.imageTags {
  position: relative;
  right: 10vh;
}

#imgCheckbox {
  margin: 10px;
  position: relative;
}

.clicked {
  filter: grayscale(100%);
}

.btnPos {
  position: absolute;
  display: flex;
  bottom: 4vh;
  right: 37vh;
}

.btnMeal {
  margin-right: 2vh;
}

.cross-icon {
  border-radius: 10px;
  border: none;
  background-color: #043c5f;
  color: white;
  width: auto;
  height: 3.5vh;
  width: 3.5vh;
  cursor: pointer;
  position: absolute;
  top: 22vh;
  right: 67vh;
}
