.MealList-App-Container {
  flex-grow: 1;
  padding-left: 10vh;
  padding-top: 3vh;
  cursor: default;
  font-family: "Segoe UI";
}

.MeaList-icon-container {
  display: flex;
}

.MealList-icon-button {
  border: none;
  border-radius: 1.5vh;
  color: #043c5f;
  background-color: #e1e1e1;
  width: 8vh;
  height: 4vh;
  cursor: pointer;
}

.MealList-icon-button:hover {
  background-color: #9dd7fb;
}

.MealList-icon-button.delete:hover {
  background-color: #fb888a;
}

.MealList-icon-gap {
  width: 2vh;
}

.MealList-Delete-Modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mealDelete-content {
  font-family: "Segoe UI";
  background-color: #f1f1f1;
  padding: 2vh;
  border-radius: 2vh;
}

.mealDelete-close {
  cursor: pointer;
  border: none;
  font-size: 1.5vh;
}

.MealDelete-Button {
  font-family: "Segoe UI";
  font-size: 1.7vh;
  font-weight: 400;
  border-radius: 1vh;
  border: none;
  background-color: #f94144;
  color: white;
  width: auto;
  height: 3.5vh;
  cursor: pointer;
}

.MealDelete-Button:hover {
  background-color: #a0181a;
}

.MealList-Info-Container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MealList-Info-Content {
  font-family: "Segoe UI";
  background-color: #f1f1f1;
  padding: 2vh;
  border-radius: 2vh;
}

.MealList-Info-Modal {
  max-height: 60vh;
  overflow: auto;
}

.MealList-Info-Header {
  font-family: "Segoe UI";
  color: #043c5f;
  font-weight: 700;
  font-size: 2.5vh;
  margin-bottom: 1vh;
}

.MealList-Info-TextContent {
  display: flex;
}

.MealList-Info-DescriptionBox {
  margin-right: 1vh;
  border-right: thin solid #9b9b9b;
}

.MealList-Info-TextContentSecond {
  display: flex;
  margin-top: 2vh;
}

.MealList-Info-TextBox {
  margin-right: 5vh;
}

.MealList-Details {
  margin-right: 2vh;
  max-width: 40vh;
  min-width: 20vh;
}

.MealList-Tags {
  display: flex;
  margin-top: 2vh;
}

.MealList-Table-Font {
  font-family: "Segoe UI";
  text-align: left;
  color: #043c5f;
  font-size: 3vh;
  padding-left: 2.5vh;
}

.MealList-Table-Container {
  width: 100vh;
  height: 60vh;
  overflow-y: scroll;
  border-radius: 2vh;

  box-shadow: 5px 9px 22px -1px #899399;
  background-color: #e1e1e1;
  border: #c6c6c6 solid 1px;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.MealList-Table-Container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.MealList-Table {
  width: 100vh;
  table-layout: fixed;
}

.MealList-Table th {
  position: sticky;
  top: 0;
  background-color: #043c5f;
  font-size: 2.1vh;
  font-weight: 400;
  color: white;
}

.MealList-Table td {
  color: #3f3f3f;
  font-size: 1.7vh;
  font-weight: 600;
  word-wrap: break-word;
}

.MealList-Table td,
.MealList-Table th {
  padding: 1vh;
  text-align: left;
  border-bottom: thin solid #c6c6c6;
}

.MealList-AddMeal-Button {
  background-color: #043c5f;
  color: white;
  border-radius: 1.2vh;
  font-size: 1.8vh;
  font-weight: 500;
  margin-top: 4vh;
  padding-top: 0.8vh;
  padding-bottom: 0.8vh;
  padding-left: 1.4vh;
  padding-right: 1.4vh;
  height: auto;
  width: auto;
  cursor: pointer;
}

.MealList-AddMeal-Button:hover {
  background-color: #0f52ba;
}

.DetailModal-Tags {
  margin-top: 3%;
}

.EventDetail-Tags {
  margin-right: 0.5%;
}
