.MealList-App-Container {
  flex-grow: 1;
  padding-left: auto;
  padding-top: 2vh;
}

.MeaList-icon-container {
  display: flex;
}

.MealList-icon-button {
  border: none;
  border-radius: 1.5vh;
  width: 8vh;
  height: 4vh;
  cursor: pointer;
}

.MealList-icon-button:hover {
  background-color: #9dd7fb;
}

.MealList-icon-button.delete:hover {
  background-color: #fb888a;
}

.MealList-icon-gap {
  width: 2vh;
}

.MealList-Delete-Modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mealDelete-content {
  font-family: "Segoe UI";
  background-color: #f1f1f1;
  padding: 2vh;
  border-radius: 2vh;
}

.mealDelete-close {
  cursor: pointer;
  border: none;
  font-size: 1.5vh;
}

.MealDelete-Button {
  font-family: "Segoe UI";
  font-size: 1.7vh;
  font-weight: 400;
  border-radius: 1vh;
  border: none;
  background-color: #f94144;
  color: white;
  width: auto;
  height: 3.5vh;
  cursor: pointer;
}

.MealDelete-Button:hover {
  background-color: #a0181a;
}

.MealList-Info-Container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MealList-Info-Content {
  font-family: "Segoe UI";
  background-color: #f1f1f1;
  padding: 2vh;
  border-radius: 2vh;
}

.MealList-Info-Modal {
  max-height: 60vh;
  overflow: auto;
}

.MealList-Info-Header {
  font-family: "Segoe UI";
  color: #043c5f;
  font-weight: 700;
  font-size: 2.5vh;
  margin-bottom: 1vh;
}

.MealList-Info-TextContent {
  display: flex;
}

.MealList-Info-DescriptionBox {
  margin-right: 1vh;
  border-right: thin solid #9b9b9b;
}

.MealList-Info-TextContentSecond {
  display: flex;
  margin-top: 2vh;
}

.MealList-Info-TextBox {
  margin-right: 5vh;
}

.MealList-Details {
  margin-right: 2vh;
  max-width: 40vh;
  min-width: 20vh;
}

.MealList-Tags {
  display: flex;
  margin-top: 2vh;
}

.MealList-Table-Container {
  font-family: "Segoe UI";
  width: 102vh;
  height: 75vh;
  overflow-y: scroll;
  border-radius: 2vh;
  margin-bottom: 2vh;
  margin-top: 2vh;
  font-size: 2vh;
}

.MealList-Table {
  width: 100vh;
  table-layout: fixed;
  background-color: #eeeeee;
}

.MealList-Table th {
  position: sticky;
  top: 0;
  line-height: 2;
  background-color: #e4e4e4;
  font-weight: bold;
  color: #043c5f;
}

.MealList-Table td,
.MealList-Table th {
  padding: 1vh;
  text-align: left;
  border-bottom: thin solid #ddd;
}

.MealList-AddMeal-Button {
  font-family: "Segoe UI";
  font-size: 1.7vh;
  font-weight: 400;
  border-radius: 1vh;
  border: none;
  background-color: #043c5f;
  color: white;
  width: auto;
  height: 3.5vh;
  cursor: pointer;
}

.MealList-AddMeal-Button:hover {
  background-color: #0f52ba;
}

.DetailModal-Tags {
  margin-top: 3%;
}

.EventDetail-Tags {
  margin-right: 0.5%;
}
