.calendar-app-container {
  flex-grow: 1;
  padding-left: 15vh;
  padding-top: 2vh;
}

.Calendar-Header {
  font-family: "Segoe UI";
  color: #043c5f;
  font-size: 2.5vh;
  display: flex;
  width: 100vh;
  align-items: center;
  justify-content: space-between;
}

.calendar-days {
  width: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1vh;
  margin-bottom: 1vh;
}

.calendar-day {
  font-family: "Segoe UI";
  font-size: 2vh;
  text-align: center;
  font-weight: 500;
}

.Calendar-Button {
  color: #043c5f;
  font-size: 2.5vh;
  border-radius: 18px;
  width: 5vh;
  height: 5vh;
  border: none;
  background-color: transparent;
  transition: background-color 0.5s;
}

.Calendar-Button:hover {
  background-color: #dfdfdf;
}

.Calendar-NewMeal-Button {
  font-family: "Segoe UI";
  font-size: 1.7vh;
  font-weight: 400;
  border-radius: 1vh;
  border: none;
  background-color: #043c5f;
  color: white;
  width: auto;
  width: 16vh;
  margin-bottom: 1vh;
  height: 3.5vh;
  cursor: pointer;
}

.Calendar-NewMeal-Button:hover {
  background-color: #0f52ba;
}

.calendar-btn:hover {
  background-color: #043c5f27;
}

.calendar-dates {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1vh;
}

.calendar-field {
  width: 10vh;
  display: flex;
}

.calendar-date {
  text-align: right;
  padding: 1vh;
  border-radius: 2vh;
  width: 17vh;
  height: 12vh;
  font-size: 2.5vh;
  font-family: "Segoe UI";
  color: #043c5f;
  background-color: #dfdfdf;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.calendar-date::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.previous-month {
  color: #a3a3a3;
}

.next-month {
  color: #a3a3a3;
}

.calendar-dateWeek {
  text-align: right;
  padding: 1vh;
  border-radius: 2vh;
  width: 17vh;
  height: 22vh;
  font-size: 2.5vh;
  font-family: "Segoe UI";
  color: #043c5f;
  background-color: #e4e4e4;
}

.calendar-weeks {
  width: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1vh;
}

.Calendar-Button-Container {
  margin-top: 2vh;
  margin-right: 10vh;
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Calendar-Today-Button {
  color: #043c5f;
  font-size: 2.5vh;
  border-radius: 2vh;
  width: 10vh;
  height: 5vh;
  border: none;
  margin-bottom: 2vh;
  background-color: transparent;
  transition: background-color 0.5s;
}

.Calendar-Today-Button:hover {
  background-color: #c5e7fc;
}

.Calendar-Button.week {
  transition: transform 0.3s ease;
}

.Calendar-Button.week.rotate {
  transform: rotate(180deg);
}

.Calendar-EventsContainer {
  height: 14vh;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  border-radius: 1vh;
}

.Calendar-EventsContainer::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.Calendar-MoreEvents {
  font-family: "Segoe UI";
  color: #043c5f;
  font-size: 1.6vh;
  cursor: pointer;
  margin-bottom: 1vh;
  margin-right: 1vh;
  font-weight: 450;
}