.calendar {
  padding: 0;
}

.calendar-app-container {
  flex-grow: 1;
  padding-left: 15vh;
  padding-top: 2vh;
}

.calendar-header {
  font-family: "Segoe UI";
  color: #043c5f;
  font-size: 2.5vh;
  display: flex;
  width: 100vh;
  align-items: center;
  justify-content: space-between;
}

.calendar-days {
  width: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1vh;
  margin-bottom: 1vh;
}

.calendar-day {
  font-family: "Segoe UI";
  font-size: 2vh;
  text-align: center;
  font-weight: 500;
}

.calendar-dates {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1vh;
}

.calendar-field {
  width: 10vh;
  display: flex;
}

.calendar-date {
  text-align: right;
  padding: 1vh;
  border-radius: 2vh;
  width: 17vh;
  height: 12vh;
  font-size: 2.5vh;
  font-family: "Segoe UI";
  color: #043c5f;
  background-color: #e4e4e4;
}

.today {
  border: 1vh solid;
  border-color: rgb(58, 214, 160);
  background-color: #f5f4f4;
}

.weekview {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1vh;
}
.weekDays {
  text-align: right;
  padding: 1vh;
  border-radius: 2vh;
  width: 20vh;
  height: 15vh;
  font-size: 2.5vh;
  font-family: "Segoe UI";
  color: #043c5f;
  background-color: #5f5656;
}

.previous-month {
  color: #898989;
}

.next-month {
  color: #898989;
}

.calendar-btn {
  color: #043c5f;
  font-size: 2.5vh;
  border-radius: 2vh;
  width: 5vh;
  height: 5vh;
  border: none;
  background-color: transparent;
  transition: background-color 0.5s;
}

.calendar-btn:hover {
  background-color: #043c5f27;
}

.calendar-btn-container {
  margin-top: 2vh;
  margin-right: 10vh;
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-dateWeek {
  text-align: right;
  padding: 1vh;
  border-radius: 2vh;
  width: 17vh;
  height: 22vh;
  font-size: 2.5vh;
  font-family: "Segoe UI";
  color: #043c5f;
  background-color: #e4e4e4;
}

.calendar-weeks {
  width: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1vh;
}

.calendar-today-btn {
  color: #043c5f;
  font-size: 2.5vh;
  border-radius: 2vh;
  width: 10vh;
  height: 5vh;
  border: none;
  margin-bottom: 2vh;
  background-color: transparent;
  transition: background-color 0.5s;
}

.calendar-today-btn:hover {
  background-color: #043c5f27;
}
