.calendar-app-container {
  flex-grow: 1;
  padding-left: auto;
  padding-top: 3vh;
}

/* Header (month) */
.Calendar-Header {
  font-family: "Segoe UI";
  color: #043c5f;
  font-size: 2.5vh;
  display: flex;
  width: 100vh;
  align-items: center;
  justify-content: space-between;
}

.Calendar-Button {
  color: #043c5f;
  font-size: 2.5vh;
  border-radius: 18px;
  width: 5vh;
  height: 5vh;
  border: none;
  background-color: transparent;
  transition: background-color 0.5s;
}
.Calendar-Button:hover {
  background-color: #dfdfdf;
}

/* Button-Container ("Back to current week/month") */
.Calendar-Button-Container {
  margin-top: 2vh;
  margin-right: 10vh;
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Calendar-Today-Button {
  color: #043c5f;
  font-size: 2.5vh;
  border-radius: 2vh;
  width: 40vh;
  height: 5vh;
  border: none;
  margin-bottom: 2vh;
  background-color: transparent;
  transition: background-color 0.5s;
}
.Calendar-Today-Button:hover {
  background-color: #c5e7fc;
}

/* Days (weekdays) */
.calendar-days {
  width: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1vh;
  margin-bottom: 1vh;
}

.calendar-day {
  font-family: "Segoe UI";
  font-size: 2vh;
  text-align: center;
  font-weight: 500;
}

/* Content from "Week" */
.calendar-week {
  width: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1vh;
}

.calendar-weekDay {
  text-align: right;
  padding-left: 1vh;
  padding-right: 1vh;
  padding-top: 0.5vh;
  padding-bottom: 1vh;
  border-radius: 2vh;
  font-size: 2.5vh;
  font-family: "Segoe UI";
  color: #043c5f;
  background-color: #e4e4e4;
}

.weekDay-date {
}

.Calendar-NewMeal-Button {
  font-family: "Segoe UI";
  font-size: 1.7vh;
  font-weight: 400;
  border-radius: 1vh;
  border: none;
  background-color: #043c5f;
  color: white;
  width: auto;
  width: 17vh;
  margin-top: 1.5vh;
  margin-bottom: 2vh;
  height: 3.5vh;
  cursor: pointer;
}
.Calendar-NewMeal-Button:hover {
  background-color: #0f52ba;
}

.Calendar-EventsContainer-Week {
  height: 14vh;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  border-radius: 1vh;
}
.Calendar-EventsContainer-Week::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Field (Content from "Month") */
.calendar-field {
  width: 100vh;
  display: flex;
}

.calendar-month {
  width: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1vh;
}

.calendar-monthDay {
  text-align: right;
  padding-left: 1vh;
  padding-right: 1vh;
  padding-top: 0.5vh;
  padding-bottom: 1vh;
  border-radius: 2vh;
  font-size: 2.5vh;
  font-family: "Segoe UI";
  color: #043c5f;
  background-color: #dfdfdf;
}
.previous-month {
  color: #a3a3a3;
}
.next-month {
  color: #a3a3a3;
}

.monthDay-date {
}

.Calendar-EventsContainer-Month {
  height: 8vh;
  margin-top: 1vh;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  border-radius: 1vh;
}
.Calendar-EventsContainer-Month::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.Calendar-EventsContainer {
}
.Calendar-MoreEvents {
  font-family: "Segoe UI";
  color: #043c5f;
  font-size: 1.6vh;
  cursor: pointer;
  margin-bottom: 1vh;
  margin-right: 1vh;
  font-weight: 450;
}

/* Calender-Button-Container (switch to week/month) */
.Calendar-Button.week {
  transition: transform 0.3s ease;
}
.Calendar-Button.week.rotate {
  transform: rotate(180deg);
}

.calendar-btn:hover {
  background-color: #043c5f27;
}
