.EventElement-Meal-Container {
  width: auto;
  height: auto;
  background-color: #c5e7fc;
  color: white;
  border-radius: 1vh;
  display: flex;
  margin-bottom: 0.5vh;
  font-family: "Segoe UI";
}

.EventElement-Meal-Container p {
  font-size: 1.4vh;
  color: #043c5f;
  font-weight: 600;
  font-family: "Segoe UI";
  margin-right: 0.5vh;
}

.EventElement-Meal-Container p1 {
  font-size: 1.4vh;
  font-weight: 400;
  color: #043c5f;
  font-family: "Segoe UI";
  display: flex;
  margin-top: 1.5vh;
  margin-left: 0.5vh;
}