* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  max-width: 30vh;
  max-height: 20vh;

  position: fixed;
  box-sizing: border-box;
  display: flex;
  margin: auto;
  padding: 10px;
  border-radius: 18px;

  background-color: lightgrey;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}
.content {
  max-width: 30vh;
  max-height: 20vh;
  background-color: lightgrey;
  flex-direction: column;
}

.row1 {
  display: flex;
}
.row2 {
  display: flex;
}
.row3 {
  display: flex;
}

.banner {
  width: 50px;
  height: 50px;

  margin: 5px;
  padding: 5px;
  border-radius: 50px;

  background-color: #043c5f;
  color: white;
  font-size: 20px;
  align-content: center;
  justify-content: center;
}
.logout {
  margin: 5px;
  padding: 5px;
  align-items: right;
  top: 0;
  right: 0;

  color: black;
  font-size: 40px;
}
.logout:hover {
  color: red;
  cursor: pointer;
}

.name {
  margin: 10px;

  font-size: 16px;
  font-weight: bold;
  color: #043c5f;
}

.balance {
  margin: 10px;

  font-size: 14px;
  font-weight: bold;
  color: #333333;
}

.statistic {
  margin: 10px;

  font-weight: bold;
  font-size: 12px;
  color: #333333;
}

.icon-gekocht {
  margin: 10px;

  font-size: 12px;
  color: #333333;
}

.icon-gegessen {
  margin: 10px;

  font-size: 12px;
  color: #333333;
}
