.profile-container {
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 2vh;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
  box-sizing: border-box;
}
.profile-content {
  padding: 5%;
}

.box1 {
  height: 40%;
  width: 100%;
  flex-direction: row;
  display: flex;
}
.profile-circle {
  width: 7vh;
  height: 7vh;
  border-radius: 50%;
  float: left;

  background-color: #043c5ffd;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}
.circle-name {
  padding: 0.5vh;
  font-size: 3vh;

  text-align: center;
  font-weight: bold;
  color: white;
}
.profile-logout {
  height: 10%;
  margin: 5px;
  padding: 5px;
  top: 0;
  float: right;
  color: black;
  font-size: calc(15px + 0.390625vw);
}
.profile-logout:hover {
  color: red;
  cursor: pointer;
}

.box2 {
  height: 40%;
  width: 100%;
  flex-direction: row;
  display: flex;
}
.name {
  margin: 10px;

  font-size: calc(9px + 0.390625vw);
  font-weight: bold;
  color: #043c5f;
  cursor: default;
}
.balance {
  width: 30%;
  margin: 10px;

  font-size: calc(9px + 0.390625vw);
  font-weight: bold;
  color: #333333;
  cursor: default;
}

.box3 {
  height: 10%;
  width: 100%;
  flex-direction: row;
  display: flex;
}
.statistic {
  margin: 10px;

  font-weight: bold;
  font-size: calc(7px + 0.390625vw);
  color: #333333;
  cursor: default;
}
.icon-gekocht {
  margin: 10px;

  font-size: calc(10px + 0.390625vw);
  color: #333333;
}
.icon-gegessen {
  margin: 10px;

  font-size: calc(10px + 0.390625vw);
  color: #333333;
}
