.Info-Page-Container {
  flex-grow: 1;
  padding-left: auto;
  padding-top: 2vh;
  width: 100vh;
}

.Info-Page-Content {
  display: absolute;
  height: 50vh;
  background-color: #e4e4e4;
  border-radius: 2vh;
  flex: 1;
  padding-bottom: 1vh;
  padding-left: 1vh;
}

.Info-Page-Headline {
  font-family: "Segoe UI";
  color: #043c5f;
  font-weight: 500;
  font-size: 5vh;
  margin-bottom: 1vh;
  padding-top: 1vh;
  padding-left: 1vh;
}

.Info-Page-Liste {
  font-family: "Segoe UI";
  font-size: 2vh;
  padding-left: 2vh;
  line-height: 3.5vh;
}

.Info-Page-Legend {
  background-color: #e4e4e4;
  border-radius: 2vh;
  padding-bottom: 1vh;
  padding-left: 1vh;
  padding-top: 1vh;
  display: flex;
}

.Info-Page-Image {
  margin: 1vh;
  display: block;
  height: 5vh;
}

.Info-Page-ImageText {
  font-size: 1.6vh;
  padding: 1vh;
}

.InfoPage-Footer {
  background-color: #043c5f;

  color: white;
  padding: 2vh;
  border-radius: 2vh;
  bottom: 0;
  display: flex;
  font-size: 2vh;
  gap: 20vh;
}

.InfoPage-Footer-Headline {
  font-family: "Segoe UI";
  color: #759acb;
  font-weight: 650;
}

.InfoPage-Text {
  font-family: "Segoe UI";
}
