.Info-Container {
  flex-grow: 1;
  padding-left: 10vh;
  padding-top: 3vh;
  cursor: default;
  font-family: "Segoe UI";
}

.Info-Headline {
  text-align: left;
  color: #043c5f;
  font-size: 3vh;
  padding-left: 2.5vh;
}

.Info-Content {
  width: 100vh;
  height: 60vh;
  overflow-y: scroll;
  border-radius: 2vh;

  box-shadow: 5px 9px 22px -1px #899399;
  background-color: #e1e1e1;
  border: #c6c6c6 solid 1px;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.Info-Content::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.Info-Row {
  display: flex;
  justify-content: space-between;

  padding-left: 1vh;
  padding-right: 3vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.Info-Liste {
  width: 70vh;
  font-size: 1.8vh;
  font-weight: 600;
  color: #3f3f3f;
  word-wrap: break-word;
}

.liste-style {
  margin-bottom: 2vh;
}

.Info-Legend {
  flex-direction: column;
  display: flex;
}

.Info-Image {
  width: 6.5vh;
  height: 6.5vh;
  padding: 1vh;
}

.Info-Image:hover::after {
  display: block;
  position: absolute;

  content: attr(title);

  padding: 6vh;

  border-bottom-left-radius: 2vh;
  border-bottom-right-radius: 2vh;

  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
}

.Info-Footer {
  width: 90vh;
  height: 20vh;

  background-color: #043c5f;
  box-shadow: 5px 9px 22px -1px #758995;
  border: #c6c6c6 solid 1px;

  border-radius: 2.5vh;
  margin-top: 3vh;
  margin-left: 5vh;
  justify-content: center;
  display: flex;
  justify-content: space-around;
}

.Info-Column {
}

.Info-Footer-Headline {
  font-size: 2.5vh;
  font-weight: 600;
  color: white;
  padding-bottom: 1.6vh;
  padding-top: 0.2vh;
}

.Info-Footer-Text {
  color: white;
  font-size: 1.8vh;
  font-weight: 400;
  text-align: left;
}

.Verewigung {
  width: 86vh;
  height: auto;

  margin-top: 0.3vh;
  margin-left: 7vh;
  padding: 0.5vh;
  padding-bottom: 0.7vh;
  border-radius: 1.3vh;

  font-size: 1.6vh;
  font-weight: 400;
  color: white;
  text-align: center;
  background-color: rgb(102, 102, 102);
  box-shadow: 4px 4px 8px #3f3f3f;
}
