.Info-Container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Info-Headline {
  top: 0;
  margin: 0;
  margin-bottom: 3vh;

  font-family: "Segoe UI";
  font-size: 3vh;
  color: #043c5f;
  text-align: left;
}

.Info-Content {
  height: auto;
  width: 100%;

  display: flex;

  flex-direction: column;
  flex: 1;

  padding-bottom: 1vh;
  padding-left: 1vh;

  justify-content: space-between;

  background-color: #e4e4e4;
  border-radius: 2vh;
}

.Info-Row {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.Info-Liste {
  width: 70%;

  padding: 1vh;
  padding-left: 5vh;

  font-family: "Segoe UI";
  font-size: 2vh;

  line-height: 3.5vh;
  list-style-type: square;
}

li {
  margin-bottom: 1.3vh;
}

.Info-Legend {
  padding-left: 1vh;
  padding-top: 1vh;

  border-radius: 2vh;
  padding-bottom: 1vh;

  order: 2;

  background-color: #e4e4e4;
}

.Info-Image {
  max-height: 70%;
  max-width: 70%;

  display: block;

  margin: 4vh 4vh 4vh 4vh;

  text-align: right;
}

.Info-Image:hover::after {
  display: block;
  position: absolute;

  content: attr(title);

  padding: 6vh;

  border-bottom-left-radius: 2vh;
  border-bottom-right-radius: 2vh;

  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
}

.Info-Footer {
  display: flex;

  font-size: 2vh;
  color: white;
  background-color: #043c5f;

  border-radius: 2vh;
  gap: 20vh;
  margin-top: 2vh;
  justify-content: center;
}

.Info-Column {
  margin: 0 2vh;
}

.Info-Footer-Headline {
  font-family: "Segoe UI";
  font-weight: 630;
  font-size: 3vh;
  color: #759acb;
}

.Info-Footer-Text {
  font-family: "Segoe UI";
  text-align: center;
}

.Verewigung {
  height: 50%;
  width: 70%;

  margin-top: 2vh;
  margin-left: 18vh;
  border-radius: 3vh;

  font-family: "Segoe UI";
  color: lightgray;
  background: linear-gradient(to right, #043c5f, #4010c3);
  box-shadow: 4px 4px 8px #10c388;
  text-align: center;
}
