.finance-container {
  height: 100%;
  width: 100%;

  display: flex;
}

.finance-content {
  height: 90%;
  width: 90%;

  margin: auto auto auto auto;

  align-content: center;
  justify-content: center;
  align-items: center;

  flex-shrink: 0;
  flex-direction: column;
  display: flex;
}

h1 {
  font-size: 3vh;
  color: #043c5f;

  cursor: default;
}

.finance-box1,
.finance-box2,
.finance-box3 {
  height: 80%;
  width: 80%;

  margin-top: 1.5vh;
  margin-bottom: 3vh;

  background-color: rgb(229, 229, 229);
  border-radius: 2vh;
}

.finance-row1,
.finance-row2,
.finance-row3,
.finance-row4 {
  display: flex;
  flex: 1;
}

.finance-employee,
.finance-balance,
.finance-remark {
  width: 30%;

  margin: 2.2vh;
  padding-left: 5vh;

  font-weight: bold;
  font-size: calc(10px + 0.390625vw);
  color: #3f3f3f;

  cursor: default;
}
.finance-employee-dropdown,
.finance-balance-numberfield,
.finance-remark-textfield {
  width: 80%;
  padding-left: 10vh;
}
.employee-dropdown,
.balance-input,
.remark-textfield {
  height: 60%;
  width: 70%;

  margin-top: 2vh;
  border-radius: 2vh;

  border: gray solid 2px;
}

.finance-confirm-button {
  width: 80%;

  padding-left: 5vh;
}
.finance-confirm {
  height: 3.5vh;
  width: auto;

  margin: 2vh;

  font-family: "Segoe UI";
  font-size: 1.7vh;
  font-weight: 400;
  background-color: #043c5f;
  color: white;

  border-radius: 1vh;
  border: none;

  cursor: pointer;
}
.finance-confirm:hover {
  background-color: #0f52ba;
}

.finance-lastActivities {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5vh;
  margin: 1vh;
}
.lastActivities-name {
  padding-top: 1vh;
  margin-top: 1vh;
  margin-left: 3vh;
  margin-bottom: 1vh;

  font-size: calc(10px + 0.390625vw);
  font-weight: bold;
  color: #043c5ffd;

  cursor: default;
}
.lastActivities-date {
  color: #3f3f3f;
  font-size: calc(5px + 0.390625vw);
}
.finance-activity-remark {
  width: 100%;
  height: 80%;

  padding-top: 1vh;
  padding: 1vh;
  margin-top: 1vh;
  margin-bottom: 1vh;

  background-color: white;
  border-radius: 2vh;
  border: gray solid 2px;

  cursor: default;
}
.finance-activity-amount {
  padding-top: 1vh;
  margin-top: 1vh;
  margin-right: 1vh;
  margin-bottom: 1vh;
}
.activity-amount {
  font-size: calc(10px + 0.390625vw);
  font-weight: bold;
  text-align: right;
  color: #043c5ffd;

  cursor: default;
}
.activity-amount-description {
  font-size: calc(5px + 0.390625vw);
  font-weight: bold;
  text-align: right;
  color: #3f3f3f;

  cursor: default;
}
