.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background: var(
    --Primary-Gradient,
    linear-gradient(180deg, #043c5f 50%, #10c388 125%)
  );
  /*background: var(--Primary-Gradient, linear-gradient(180deg, #10C388 0%, #097C55 100%));*/
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
  }
  .profile {
    width: 100%;
  }
}

.sidebar-content {
  height: 100%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  flex-shrink: 0;
  left: 0;
  bottom: 0;
  flex-direction: column;
  display: flex;
}

.profile {
  height: 23%;
  width: 100%;
  margin-top: 15%;
}

.sidebar-list {
  height: 68%;
  width: 100%;
  flex-direction: column;
  display: flex;
  gap: 4vh;
  margin-top: 15%;
  cursor: default;
}

.button {
  display: flex;
  top: 0;
  gap: 3vh;
  cursor: pointer;
}

.button.active {
  height: 10%;
  width: 120%;

  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  padding-left: 10px;

  align-items: center;
  color: #043c5f;
  background-color: rgba(255, 255, 255, 0.32);
}

.icon {
  float: left;
  font-size: calc(16px + 0.390625vw);
}

.text {
  float: right;
  color: white;
  font-family: "Segoe UI";
  font-size: calc(14px + 0.390625vw);
}

.sidebar-footer {
  height: 5%;
  color: white;
  font-family: "Segoe UI";
  font-size: calc(7px + 0.390625vw);
  margin-bottom: 1%;
  cursor: default;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: blue;
}
