.addMeal-button {
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 400;
  border-radius: 10px;
  border: none;
  background-color: #043c5f;
  color: white;
  width: auto;
  height: 3.5vh;
  cursor: pointer;
}

.addMeal-button:hover {
  background-color: rgba(3, 40, 63, 1);
}

.addMeal-content {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f1f1f1;
  border-radius: 18px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  font-family: "Segoe UI";
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 18px;
}

.modal-content h2 {
  margin-top: 0;
  color: #043c5f;
  display: flex;
}

.modal-content p {
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 500;
  line-height: 3.6;
  display: flex;
}

.inputText {
  position: relative;
  top: 8vh;
  right: 15vh;
}

.infoText {
  width: auto;
  height: 4vh;
  background-color: #c5c5c5;
  border-radius: 9px;
  border: none;
  margin: 2vh;
}

.standartInput {
  position: relative;
  top: 11vh;
  right: 52vh;
}

.btnContainer {
  position: absolute;
  bottom: 30vh;
  left: 75vh;
}

.crossIcon {
  border-radius: 10px;
  border: none;
  background-color: #043c5f;
  color: white;
  width: auto;
  height: 3.5vh;
  width: 3.5vh;
  cursor: pointer;
  position: absolute;
  top: 29vh;
  right: 72vh;
}

.crossIcon:hover {
  background-color: rgba(3, 40, 63, 1);
}
