.Modal-Header {
  font-family: "Segoe UI";
  color: #043c5f;
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-size: 3vh;
  margin-left: 3vh;
  margin-right: 7vh;
}

.EventModal-Content {
  margin: 1vh;
}

.EventModal-Container {
  display: flex;
}

.EventModal-Headlines {
  font-family: "Segoe UI";
  font-size: 2vh;
  font-weight: 500;
  padding-top: 2vh;
  padding-right: 2vh;
  margin-left: 1vh;
}

.EventModal-Button {
  font-family: "Segoe UI";
  font-size: 1.5vh;
  font-weight: 400;
  border-radius: 1vh;
  border: none;
  background-color: #043c5f;
  color: white;
  width: auto;
  height: 3.5vh;
  cursor: pointer;
}

.EventModal-Button:hover {
  background-color: rgba(3, 40, 63, 1);
}

/***************/

.MealModal-Container {
  display: block;
}

.Modal-Time {
  font-family: "Segoe UI";
  font-size: 2vh;
  font-weight: 500;
  margin-right: 10vh;
}

.Modal-Meal {
  color: #043c5f;
  font-family: "Segoe UI";
  font-size: 2vh;
  font-weight: 600;
  margin-left: 3vh;
}

.EventDetail-Text {
  font-family: "Segoe UI";
  font-size: 2vh;
  font-weight: 500;
  margin-right: 5vh;
  margin-bottom: 2vh;
}

.EventDetail-Fields {
  font-family: "Segoe UI";
  font-size: 2vh;
  font-weight: 400;
}

.DetailModal-Header {
  display: flex;
}

.DetailModal-Button {
  font-size: 2vh;
  background-color: white;
  border: none;
  cursor: pointer;
  width: 3vh;
  height: 3vh;
  border-radius: 1vh;
  margin-top: 1.5vh;
  margin-right: 1vh;
}

.DetailModal-Button:hover {
  background-color: #cccccc;
}

.DetailModal-InfoButton {
  font-size: 2vh;
  background-color: white;
  border: none;
  cursor: pointer;
  width: 1vh;
  height: 1vh;
  margin-top: 2.5vh;
}

.InfoDetailModal-Container {
  width: 50vh;
  height: 50vh;
  background-color: white;
  position: fixed;
  top: 20vh;
  right: 10vh;
  border-radius: 2vh;
}

.DetailModal-CloseButton {
  font-size: 2vh;
  background-color: white;
  border: none;
  cursor: pointer;
  width: 3vh;
  height: 3vh;
  border-radius: 1vh;
  margin-left: 25vh;
}

.DetailModal-CloseButton:hover {
  background-color: #cccccc;
}

.InfoModal-Header {
  font-family: "Segoe UI";
  color: #043c5f;
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-size: 3vh;
}

.InfoDetailModal-Text {
  font-family: "Segoe UI";
  font-size: 2vh;
  font-weight: 500;
  margin-right: 5vh;
  margin-bottom: 2vh;
}

.InfoDetailModal-Scroller {
  max-height: 60vh;
  overflow: auto;
}

.EventDetailModal-Icon {
  width: 7vh;
  height: 5vh;
  background-color: #043c5f;
}

.btn-newMeal {
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 400;
  border-radius: 10px;
  border: none;
  background-color: #043c5f;
  color: white;
  width: auto;
  height: 5vh;
  cursor: pointer;
}

.btn-newMeal:hover {
  background-color: rgba(3, 40, 63, 1);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  font-family: "Segoe UI";
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 18px;
  display: flex;
}

.mealHeader {
  display: fixed;
}

.modal-content h2 {
  margin-top: 0;
  color: #043c5f;
}

.newMealP {
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 500;
  line-height: 3.6;
  display: flex;
}

.inputField {
  position: relative;
  top: 5vh;
  right: 10vh;
}

.mealText {
  width: auto;
  height: 4vh;
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  background-color: #c5c5c5;
  border-radius: 9px;
  border: none;
  margin: 2vh;
}

.imageTags {
  position: relative;
  right: 10vh;
}

#imgCheckbox {
  margin: 10px;
  position: relative;
}

.clicked {
  filter: grayscale(100%);
}

.btnPos {
  position: absolute;
  display: flex;
  bottom: 5vh;
  right: 37vh;
}

.btnMeal {
  margin-right: 2vh;
}

.cross-icon {
  border-radius: 10px;
  border: none;
  background-color: #043c5f;
  color: white;
  width: auto;
  height: 3.5vh;
  width: 3.5vh;
  cursor: pointer;
  position: absolute;
  top: 20vh;
  right: 67vh;
}
